.mainSwiper, .slide {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slide {
    cursor: pointer;
}

.overlay {
    position: absolute;
    left: 140px;
    bottom: 200px;
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.8);
}

.slide {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
}

@media (max-width: 767px) {
    .overlay {
        font-size: 1.8rem;
        left: 90px;
        bottom: 110px;
    }
}
