.navbar-container {
    position: fixed; /* <- 고정 위치 */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white; /* 배경 없으면 아래 컨텐츠랑 겹칠 수 있음 */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    gap: 25rem;
    height: 80px; /* 높이를 명시적으로 설정 */
}

.navbar-left {
    display: flex;
    gap: 2.5rem;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
}

.navbar-icons {
    display: flex;
    gap: 2rem;
    font-size: 1.4rem;
    color: white;
    align-items: center;
    padding-right: 1rem;

}

.navbar-icon {
    display: flex;
    align-items: center;
    color: black;
    cursor: pointer;
    position: relative;
}

/*장바구니 뱃지용*/
.cart-icon-wrapper {
    position: relative;
}

.search-bar-wrapper {
    position: absolute;
    top: 20%;
    right: 2rem;
    align-items: center;
    background: white;
    border: 1px solid #ccc;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    z-index: 999;
    display: none;
}

.search-bar-wrapper.active {
    display: flex;
}

.search-input {
    border: none;
    outline: none;
    padding: 0.3rem 1rem;
    font-size: 14px;
    width: 200px;
}

.search-close-icon {
    margin-right: 0.5rem;
    cursor: pointer;
}

.cart-icon-wrapper {
    position: relative;
}

.cart-badge {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    padding: 2px 6px;
    font-weight: bold;
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}
