.navbar-container {
    position: fixed; /* 고정 위치 */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white; /* 배경 없으면 아래 컨텐츠랑 겹칠 수 있음 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    gap: 1rem;
    height: 80px; /* 높이를 명시적으로 설정 */
}

.navbar-left {
    font-size: 24px;
    display: none;
}

.navbar-icons {
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
    align-items: center;


}

.navbar-icon {
    display: flex;
    align-items: center;
    color: black;
    cursor: pointer;
    position: relative;
}

/*장바구니 뱃지용*/
.cart-icon-wrapper {
    position: relative;
}

.search-bar-wrapper {
    position: fixed;
    top: 80px; /* navbar 높이에 맞춰서 */
    left: 0;
    right: 0;
    background: #f9f9f9;
    padding: 12px 20px;
    z-index: 999;
    display: none;
    align-items: center;
    border-bottom: 1px solid #ccc;
    transition: all 0.3s ease;
}

.search-bar-wrapper.active {
    display: flex;
}

.search-input {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: white;
}

.search-close-icon {
    margin-right: 0.8rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: black;
}

.cart-icon-wrapper {
    position: relative;
}


.cart-badge {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: red;
    color: white;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 9999px;
    font-weight: bold;
    line-height: 1;
    z-index: 10;
}

.navbar-logo {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 1.8rem;

}

/* 햄버거 아이콘 기본 숨김 */
.hamburger-icon {
    display: none;
    font-size: 1.6rem;
    cursor: pointer;
    color: black;
}


/* 모바일 메뉴 드롭다운 */
.mobile-menu {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 999;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 1rem;
    border-top: 1px solid #ccc;
}

.navbar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    flex: 1;
}


/* 모바일 레이아웃용 설정 */
@media (max-width: 767px) {
    .hamburger-icon {
        display: block;
        order: -1; /* 햄버거를 맨 앞쪽으로 */
    }

    .navbar-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar-left {
        display: none !important;
    }
}

/*  sm (~767) */
@media (min-width: 768px) {
    .navbar-left {
        display: flex;
        gap: 0.9rem;
        font-size: 1.2rem;

    }
}

/*  md (768~1023) */
@media (min-width: 769px) {
    .navbar-container {
        display: flex;
        font-size: 1rem;
    }
}

/* lg (1024~) */
@media (min-width: 1024px) {
    .navbar-left {
        gap: 2.7rem;
        font-size: 1.4rem;
    }
}