@import "tailwindcss";

@plugin "daisyui" {
    /*themes: light --default*/
    /*themes: pastel --default*/
    /*themes: garden --default*/
    /*themes: silk --default*/
    /*themes: fantasy --default*/
    themes: lofi --default
    /*, dark --prefersdark;*/
}
* {
    font-family: "Paperlogy";
}

@media (max-width: 400px) {
    .alert-text {
        font-size: 0.875rem; /* Tailwind text-sm */
    }
}

.container {
    max-width: 1256px;
    margin: 0 auto;
    padding: 30px 60px;
}

.container.nav {
    margin: 0 auto;
    padding: 30px 60px;
}

td, tr, th {
    text-align: center;
}

.modal.modal-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9999
}

/* 전체 배경 및 화면 최소 높이 */
.page-wrapper {
    @apply bg-gray-100 min-h-screen;
}

/* 중앙 정렬(위쪽 정렬) 컨테이너 */
.center-top-container {
    @apply flex justify-center items-start py-10;
}

/* 카드 스타일 */
.rounded-card {
    @apply p-6 shadow rounded-2xl bg-white;
}

@layer utilities {
    @media (max-width: 375px) {
        .text-xs-375 {
            @apply text-xs;
        }
    }
}

@layer utilities {
    @media (max-width: 356px) {
        .col-356 {
            @apply flex-col items-start gap-1;
        }

        /* 가로→세로 */
        .full-356 {
            @apply w-full;
        }

        /* 줄바꿈 시 한 줄 꽉 차게 */
        .mt0-356 {
            @apply mt-0;
        }

        /* 모바일에선 여백 줄이기 */
        .label-356 {
            @apply block text-[11px] text-gray-500;
        }
    }
}

@layer utilities {
    @media (max-width: 375px) {
        .btn-375 {
            @apply btn-sm;
        }
    }
}