@import "tailwindcss";

@plugin "daisyui" {
    /*themes: light --default*/
    /*themes: pastel --default*/
    /*themes: garden --default*/
    /*themes: silk --default*/
    /*themes: fantasy --default*/
    themes: lofi --default
    /*, dark --prefersdark;*/
}
* {
    font-family: "Paperlogy";
}

.container {
    max-width: 1256px;
    margin: 0 auto;
    padding: 30px 60px;
}

.container.nav {
    margin: 0 auto;
    padding: 30px 60px;
}

td, tr, th {
    text-align: center;
}

.modal.modal-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 9999
}

/* 전체 배경 및 화면 최소 높이 */
.page-wrapper {
    @apply bg-gray-100 min-h-screen;
}

/* 중앙 정렬(위쪽 정렬) 컨테이너 */
.center-top-container {
    @apply flex justify-center items-start pt-10;
}

/* 카드 스타일 */
.rounded-card {
    @apply p-6 shadow rounded-2xl bg-white;
}
