.category-menu-wrapper {
    padding: 2rem 1rem;
    background-color: white;

}

.category-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.category-list-scroll {
    display: flex;
    overflow-x: auto;
    gap: 1.21rem;
    padding-bottom: 1rem;
}

.category-img {
    /*width: 100%;*/
    height: 80px;
    object-fit: contain;
    border-radius: 8px;
}

.category-item {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    text-align: center;
    cursor: pointer;
    width: 120px;
    height: 100px;
    /*border: 1px solid;*/

}

.category-icon {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.category-label {
    font-size: 1.2rem;
    color: #333;
    white-space: nowrap;
}

@media (max-width: 1023px) {
    .category-item {
        width: 80px;
        height: 110px;
    }

    .category-img {
        height: 70px;
    }

    .category-label {
        font-size: 0.85rem;
    }
}

@media (max-width: 767px) {
    .category-list-scroll {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 0.8rem;
        row-gap: 1rem;
        overflow-x: visible; /* 가로 스크롤 제거 */
        padding-bottom: 0;
    }

    /* 고정 폭/높이 줄여서 그리드에 잘 맞게 */
    .category-item {
        width: auto; /* 고정폭 해제 */
        height: auto; /* 고정높이 완화 */
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center; /* 가운데 정렬 */
        justify-content: center;
        gap: 1rem;
    }

    .category-img {
        height: 60px; /* 적당한 크기 */
    }

    .category-label {
        font-size: 0.8rem;
        margin-top: .25rem;
    }
}

@media (max-width: 639px) {
    .category-list-scroll {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 0.5rem;
        row-gap: 0.8rem;
        overflow-x: hidden;
        justify-items: center;
    }

    .category-item {
        width: 55px;
        height: 90px;
    }

    .category-img {
        height: 45px;
    }

    .category-label {
        font-size: 0.7rem;
        margin-top: 0.25rem;
        text-align: center;
    }
}
